@import "./scss/reseteo"; 
 /*---llamo a la pagina reset para padding 0 y margen 0 ---*/

@import "./scss/variables";
/*---variables con colores que voy a usar---*/
@import "./scss/mixin";
/*-----mixin con los atributos mas usados -- */

@import "./scss/each";
/*-----con clases para el grid ---*/

/* ---------------------------------VISTA MÓVIL-------------------------------- */

@media screen and (max-width:576px) {    
   
    /*------------------header mobile------------*/
        .header {      
            
            background-color: $negro;            
            @include centradoFlex (100%,flex ,center);
            .header__titulo {
                   width: 100%;
             
                  .header__logo {
                      width: 35%;
                       #logo {
                            @include widthPaddingObject (100%,0rem ,cover);
                             height: 100%;
                             } 
                  }
                  #titulo {
                       @include widthPaddingObject (65%,0rem ,contain);
                   }
                 .header__titulo--perfiles {
                        @include widthPaddingObject (24%,0.2rem ,contain);
                 }
                 .header__titulo--contacto {
                        @include centradoFlex (25%,flex ,center);
                        align-items: center;
                        background-color: $negroButton;
                        border-radius: 0.6rem;
                        transition: all 150ms ease-in-out;                       
                        color:$gris;              
                        text-transform:uppercase;          
                        font-size:1.2rem;
                        &:hover {            
                        background-color:$negroHover;    
                        color: $grisHover;        
                       } 
                       
                  }

            } 
            
         }

     /*----------------navbar movil--------------------*/
         
    #nav {
            @include navbar_sticky (100%,sticky,0,$negro);
             position: -webkit-sticky; /* Safari */

             .button_nav {
                @include centradoFlex (100%,flex ,center);
                .button {
                    width: 90%;
                    
                }
             }
            .navbar-nav  {    
                padding: 0.5rem;                
                text-align: center;
                 a {
    
                    text-transform: uppercase;
                
                    color: $gris;
                    
                    font-size: 1.5rem;    
                
                    transition: all 150ms ease-in-out;
                
                    border-radius: 0.3rem;

                     &:hover {
                
                        background-color: $negroHover;
                    
                        padding: 0.6rem;
                    
                     } 
                 }
                 
                  
            }
     }

     /*---------------main mobile------------------*/

    .main {
        width: 100%;
        background-image: url("./../assets/img/logo.jpg") ;
        background-size: contain;
        padding: 0.2rem;
        text-align: center;
        color: $blanco;
        .main__fotoinicio {
            padding: 1rem;
        }          
            
        .img_izq_s {
                padding: 0.5rem;
                border-radius: 1rem;
                cursor: pointer;
                &:active {
                   transform: scale(1.8) translate(3rem, 1rem);
                   transition: all 500ms ease-in-out;
                }
            
        }
            
        .img_der_s {
            padding: 0.5rem;
            border-radius: 1rem;
            cursor: pointer;
                &:active {
            
                      transform: scale(1.8) translate(-3rem, 1rem);
                      transition: all 500ms ease-in-out;
                         }
            
         }
         .main__contenedor {
            display: grid;
            
            grid-template-columns: 50% 50%;
            grid-template-rows: auto auto;
            grid-template-areas:
            "grid_ludmi grid_ludmi"
            "grid_ludmi_foto grid_ludmi_foto"
             "grid_ludmi_perfil grid_ludmi_perfil"
            "grid_robert grid_robert"
            "grid_robert_foto grid_robert_foto"
            "grid_robert_perfil grid_robert_perfil"
            "grid_jami grid_jami"
            "grid_jami_foto grid_jami_foto"
            " grid_jami_perfil grid_jami_perfil";

            .grid_ludmi_foto {
                width: 50%;
                margin: auto;
            }
            .grid_robert_foto {
                width: 50%;
                margin: auto;
            }
            .grid_jami_foto{
                width: 50%;
                margin: auto;
            }

         }

         .section__form {
             display: flex;
             justify-content: center;
             padding: 1rem;
            form{             
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                div {
                    padding: 0.3rem;
                    font-size: 0.8rem;
                }
            }
         }
            
    }
           
    






    /*-------------------footer mobile---------------------*/

.footer {
    color: $gris;
    background-color:$negro;
    padding: 0.5rem;
    @include centradoFlex (100%,flex ,center);
    .footer_centrado {
        width: 90%;
        font-size: 1rem;
        .footer__contacto {    
            padding: 0.3rem;
            li {
                font-size: 90%;               
                
            }
          
        }
        .footer__redes li {
            
            line-height: 2.6rem;
            a{
                margin: 0.2rem;
                text-decoration: none;
                color:$gris;
                padding: 3.5rem 1rem;
                width: 100%;
            }
        }
        .footer__ubicacion {
            padding: 0.8rem;
            width: 100%;
            iframe {
                width: 90%;
            }
        }
     
    }



 
}






 
}


/* ---------------------------------VISTA MÓVIL L -------------------------------- */

@media screen and (min-width:577px) and (max-width:767px) {
   
   
    /*------------------header mobile L------------*/
        .header {      
            
            background-color: $negro;            
            @include centradoFlex (100%,flex ,center);
            .header__titulo {
                   width: 100%;
             
                  .header__logo {
                      width: 35%;
                       #logo {
                            @include widthPaddingObject (100%,0rem ,cover);
                             height: 100%;
                             } 
                  }
                  #titulo {
                       @include widthPaddingObject (65%,0rem ,contain);
                   }
                 .header__titulo--perfiles {
                        @include widthPaddingObject (25%,0.2rem ,contain);
                 }
                 .header__titulo--contacto {
                        @include centradoFlex (25%,flex ,center);
                        align-items: center;
                        background-color: $negroButton;
                        border-radius: 0.6rem;
                        transition: all 150ms ease-in-out;
                        color:$gris;              
                        text-transform:uppercase;          
                        font-size:2rem;
                        &:hover {            
                        background-color:$negroHover;    
                        color: $grisHover;        
                        } 
                       
                  }

            } 
            
         }

     /*----------------navbar movil L--------------------*/
         
    #nav {
            @include navbar_sticky (100%,sticky,0,$negro);
             position: -webkit-sticky; /* Safari */

             .button_nav {
                @include centradoFlex (100%,flex ,center);
                .button {
                    width: 95%;
                    
                }
             }
            .navbar-nav  {    
                padding: 0.5rem;                
                text-align: center;
                 a {
    
                    text-transform: uppercase;
                
                    color: $gris;
                    
                    font-size: 1.5rem;    
                
                    transition: all 150ms ease-in-out;
                
                    border-radius: 0.3rem;

                     &:hover {
                
                        background-color: $negroHover;
                    
                        padding: 1.1rem;
                    
                     } 
                 }
                 
                  
            }
     }

     /*---------------main mobile L------------------*/

    .main {
        width: 100%;
        background-image: url("./../assets/img/logo.jpg") ;
        background-size: contain;
        padding: 0.2rem;
        text-align: center;
        color: $blanco;
        .main__fotoinicio {
            padding: 1rem;
        }
        /*------efecto de zoom-----*/
        .img_izq_s {
            padding: 0.5rem;
            border-radius: 1rem;
            cursor: pointer;
            &:active {
               transform: scale(1.5) translate(4rem, 1rem);
               transition: all 500ms ease-in-out;
            }
        
        }
        
        .img_der_s {
                padding: 0.5rem;
                 border-radius: 1rem;
                cursor: pointer;
                &:active {        
                      transform: scale(1.5) translate(-4rem, 1rem);
                      transition: all 500ms ease-in-out;
                }
        
        }
        .main__contenedor {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto auto;
            grid-template-areas:
            "grid_ludmi grid_ludmi"
            "grid_ludmi_foto grid_ludmi_foto"
             "grid_ludmi_perfil grid_ludmi_perfil"
            "grid_robert grid_robert"
            "grid_robert_foto grid_robert_foto"
            "grid_robert_perfil grid_robert_perfil"
            "grid_jami grid_jami"
            "grid_jami_foto grid_jami_foto"
            " grid_jami_perfil grid_jami_perfil";
            .grid_ludmi_foto {
                width: 50%;
                margin: auto;
            }
            .grid_robert_foto {
                width: 50%;
                margin: auto;
            }
            .grid_jami_foto{
                width: 50%;
                margin: auto;
            }
        }
        .section__form {
            display: flex;
            justify-content: center;
            padding: 2rem;
           form{
            
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               div {
                   padding: 0.3rem;
               }
           }
        }
        
           
    }






    /*-------------------footer mobile L ---------------------*/

.footer {
    color: $gris;
    background-color:$negro;
    padding: 0.5rem;
    @include centradoFlex (100%,flex ,center);
    .footer_centrado {
        width: 95%;
        font-size: 1rem;
        .footer__contacto {    
            padding: 0.3rem;
            line-height: 2rem;          
        }
        .footer__redes {
               padding: 3rem 1rem;
               li {            
                   line-height: 2.5rem;            
                   a{
                       margin: 0.2rem;
                       text-decoration: none;
                       color:$gris;                
                       width: 100%;
                    }
                }
            }
        .footer__ubicacion {
            padding: 0.8rem  ;
            width: 100%;
            iframe {
                width: 100%;
                height: 90%;
            }
        }
     
    }


}
}

/*---------------------------------- VISTA TABLET------------------------------- */

@media only screen and (min-width:768px) and (max-width:992px) {   

 /*---------------------header tablet----------------*/
        .header {      
            
            background-color: $negro;            
            @include centradoFlex (100%,flex ,center);
            padding: 0.5rem;
            .header__titulo {
                   width: 100%;
             
                  .header__logo {
                      width: 15%;
                       #logo {
                            @include widthPaddingObject (100%,0rem ,cover);
                             height: 10rem;
                             } 
                  }
                  #titulo {
                       padding: 0.5rem 0rem;
                   }
                 .header__titulo--perfiles {
                        @include widthPaddingObject (16%,0.5rem ,cover);
                 }
                 .header__titulo--contacto {
                        @include centradoFlex (16%,flex ,center);
                        align-items: center;
                        background-color: $negroButton;
                        border-radius: 0.6rem;
                        transition: all 150ms ease-in-out;
                        color:$gris;              
                        text-transform:uppercase;          
                        font-size:1.8rem;
                        &:hover {            
                        background-color:$negroHover;    
                        color: $grisHover;        
                       } 
                       
                  }

            } 
            
         }

     /*----------------navbar TABLET--------------------*/
         
    #nav {
            @include navbar_sticky (100%,sticky,0,#1f1e1e);
             position: -webkit-sticky; /* Safari */
             .menu_centrado {
                @include centradoFlex (100%,flex ,space-around);           
                .navbar-nav  {    
                       padding: 0rem;                
                       text-align: center;
                       li {
                           padding: 0.1rem 0.3rem;               
                           a {    
                               padding: 0.2rem 0.5rem;
                               text-transform: uppercase;         
                               color: $gris;                    
                               font-size: 1.7rem;                   
                               transition: all 150ms ease-in-out;        
                               border-radius: 0.3rem;
                               &:hover {                
                                    background-color: $negroHover;                  
                                    padding: 0.3rem;                    
                                } 
                            }  
                        }                
                 }
             }
     }

     /*---------------main tablet------------------*/

    .main {
        width: 100%;
        background-image: url("./../assets/img/logo.jpg") ;
        background-size: contain;
        padding: 0.2rem;
        text-align: center;
        color: $blanco;
        .main__fotoinicio {
            padding: 1rem;
        }
        /*------efecto de zoom para tablet (son tres filas de imagenes)-----*/
        .img_izq {
            padding: 0.2rem;
            border-radius: 1rem;
            cursor: pointer;
            &:active {
               transform: scale(2) translate(4rem, 1rem);
               transition: all 500ms ease-in-out;
            }
        
        }
        .img_cen {
            padding: 0.2rem;
            border-radius: 1rem;
            cursor: pointer;
            &:active {
               transform: scale(2) translate(0rem, 1rem);
               transition: all 500ms ease-in-out;
            }
        
        }
        
        .img_der {
                padding: 0.2rem;
                 border-radius: 1rem;
                cursor: pointer;
                &:active {        
                      transform: scale(2) translate(-4rem, 1rem);
                      transition: all 500ms ease-in-out;
                }
            }

        .main__contenedor {
                display: grid;
                padding: 1rem;
                grid-template-columns: 50% 50%;
                grid-template-rows: auto auto;
                grid-template-areas:
                "grid_ludmi grid_ludmi"
                "grid_ludmi_foto grid_ludmi_perfil"
                "grid_robert grid_robert"
                "grid_robert_foto grid_robert_perfil"
                "grid_jami grid_jami"
                "grid_jami_foto grid_jami_perfil";
                .grid_ludmi_foto {
                    width:90%;
                    margin: auto;
                }
                .grid_robert_foto {
                    width: 90%;
                    margin: auto;
                }
                .grid_jami_foto{
                    width: 90%;
                    margin: auto;
                }
        }
        .section__form {
            display: flex;
            justify-content: center;
            padding: 2rem;
           form{
            
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               div {
                   padding: 0.5rem;
               }
           }
        }

    }






    /*------------footer tablet-----------*/

.footer {
    color: $gris;
    background-color:$negro;
    padding: 1rem 0rem;
    @include centradoFlex (100%,flex ,center);
    .footer_centrado {
        width: 95%;
        font-size: 1rem;
        .footer__contacto {    
            padding: 1rem;  
            width: 50%;        
        }
        .footer__redes {
            padding: 3.8rem 1rem;
            li {        
                line-height: 2rem;
                a{
                    margin: 0.2rem;
                    text-decoration: none;
                    color:$gris;                    
                 }
             }
         }
        .footer__ubicacion {
            padding: 0.8rem;
            width: 100%;
            iframe {
                width: 100%;
                height: 90%;
            }
        }
     
    }


}
}

/*----------------------------- VISTA ESCRITORIO ---------------------------*/

@media only screen and (min-width:992px) {
    /*arranco de 992px para porder trabajar en conjunto con la medida "lg" de bootstrap  */
       
    
    /* -------------header desktop---------- */
             .header {      
               
               background-color: $negro;            
               @include centradoFlex (100%,flex ,center);
               padding: 0.5rem 0rem;
               .header__titulo {
                      width: 100%;
                
                     .header__logo {
                         
                         @include centradoFlex (18%,flex ,center);
                          align-items: center;
                          #logo {
                               @include widthPaddingObject (100%,0rem ,cover);
                                height: 10rem;
                                } 
                     }
                     #titulo {
                          padding: 1rem 0rem;
                      }
                    .header__titulo--perfiles {
                           @include widthPaddingObject (16%,0.5rem ,cover);
                    }
                    .header__titulo--contacto {
                          @include centradoFlex (16%,flex ,center);
                          align-items: center;
                          background-color: $negroButton;
                          border-radius: 0.6rem;
                          transition: all 150ms ease-in-out;
                          color:$gris;              
                          text-transform:uppercase;          
                          font-size:2.2rem;
                          &:hover {            
                           background-color:$negroHover;    
                           color: $grisHover;        
                          } 
                          
                     }
   
               } 
               
            }
   
        /*----------------navbar desktop--------------------*/
            
       #nav {
               @include navbar_sticky (100%,sticky,0,#1f1e1e);
                position: -webkit-sticky; /* Safari */
                .menu_centrado {
                   @include centradoFlex (100%,flex ,space-around);           
                   .navbar-nav  {    
                          padding: 0rem;                
                          li {
                              padding: 0.1rem 1rem;               
                              a {    
                                  padding: 0.5rem;
                                  text-transform: uppercase;         
                                  color: $gris;                    
                                  font-size: 2rem;                   
                                  transition: all 150ms ease-in-out;        
                                  border-radius: 0.3rem;
                                  &:hover {                
                                       background-color: $negroHover;                  
                                       padding: 1.1rem;                    
                                   } 
                               }  
                           }                
                    }
                }
        }
   
        /*---------------main desktop------------------*/
   
       .main {
           width: 100%;
           background-image: url("./../assets/img/logo.jpg") ;
           background-size: contain;
           padding:2rem;
           text-align: center;
           color: $blanco;
           .main__fotoinicio {
               width: 90%;
           }
           /*---efecto de zoom para desktop (son tres filas de imagenes)--*/
        .img_izq {
            padding: 0.2rem;
            border-radius: 1rem;
            cursor: pointer;
            &:active {
               transform: scale(1.5) translate(4rem, 1rem);
               transition: all 500ms ease-in-out;
            }
        
        }
        .img_cen {
            padding: 0.2rem;
            border-radius: 1rem;
            cursor: pointer;
            &:active {
               transform: scale(1.5) translate(0rem, 1rem);
               transition: all 500ms ease-in-out;
            }
        
        }
        
        .img_der {
                padding: 0.2rem;
                 border-radius: 1rem;
                cursor: pointer;
                &:active {        
                      transform: scale(1.5) translate(-4rem, 1rem);
                      transition: all 500ms ease-in-out;
                }
            }
       .main__contenedor {
            padding: 1.3rem;
            font-size: 1.2rem;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto auto;
            grid-template-areas:
            "grid_ludmi grid_ludmi"
            "grid_ludmi_foto grid_ludmi_perfil"
            "grid_robert grid_robert"
            "grid_robert_foto grid_robert_perfil"
            "grid_jami grid_jami"
            "grid_jami_foto grid_jami_perfil";
            .grid_ludmi_foto {
               width:80%;
               margin: auto;
            }
            .grid_robert_foto {
                width: 80%;
                margin: auto;
            }
            .grid_jami_foto{
                width: 80%;
                margin: auto;
            }
        }
        .section__form {
            display: flex;
            justify-content: center;
            padding: 2rem;
           form{
            
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               div {
                   padding: 0.5rem;
               }
           }
        }




   
    }
   
   
   
   
       /*------------footer desktop-----------*/
   
   .footer {
       color: $gris;
       background-color:$negro;
       padding: 1rem 0rem;
       @include centradoFlex (100%,flex ,center);
       .footer_centrado {
           width: 95%;
           font-size: 1rem;
           .footer__contacto {    
               padding: 0rem;          
           }
           .footer__redes {
               padding: 3rem 1rem;
               li {        
                   line-height: 2rem;
                   a{
                       margin: 0.2rem;
                       text-decoration: none;
                       color:$gris;                    
                    }
                }
            }
           .footer__ubicacion {
               padding: 3rem 0rem;
               width: 33%;
               iframe {
                   width: 100%;
                   height: 90%;
               }
           }
        
       }
   
   
   }
   }